{% extends "base.html" %}

 {% block content %}
<form action="/about/edit/{{ pk }}" method="post">
    {% csrf_token %}
	<p>
		<button type="submit" class="btn btn-default pull-right" aria-label="Right Align">
			<span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
		</button>
		<div class="input-group">
			<input type="text" id="about_headline" name="about_headline" class="form-control " placeholder="Title" aria-describedby="basic-addon1" value="{{ about_text.about_headline }}" >
		</div>
	</p>
	<p>	
	<textarea type="text" id="about_text" name="about_text" class="form-control" placeholder="Text" aria-describedby="basic-addon1" rows="8">{{ about_text.about_text }}</textarea>
	</p>
</form>
{% endblock %}
