{% extends "base.html" %}

{% block title %}
about
{% endblock %}

{% block navbarabout %}
	<li class="active"><a href="\about">about</a></li>
{% endblock %}
  
 {% block content %}
 {{pk}}
 <br>
 <p> <a href="/about/add/" class="btn btn-default pull-right" role="button"> <span class="glyphicon glyphicon-plus"></span> </a> </p>
 <br>
	{% for instance in about_text reversed %}
		<h2>
			<a href="/about/delete/{{instance.pk}}" class="btn btn-default pull-right" role="button"> <span class="glyphicon glyphicon-minus"></span> </a>
			<a href="/about/edit/{{instance.pk}}"   class="btn btn-default pull-right" role="button"> <span class="glyphicon glyphicon-pencil"></span> </a>
			
			{{ instance.about_headline }} 
		</h2>	
		<p> {{ instance.about_text }} </p>
	{% endfor %}
	
	
		 
{% endblock %} 
 